@import "@visuallyjs/browser-ui/css/visuallyjs.css";
@import "@visuallyjs/browser-ui-angular/css/visuallyjs-angular.css";
@import "./app/chatbot.css";

body * {
    font-family: sans-serif;
}

app-root {
  height: 100vh;
  display: block;
}

vjs-surface {
  width:100%;
}
